Rows in the clean dataset have been deleted or modified.  
The verification task dataset was not modified at these positions but it might need to be.  
❗This needs your attention❗
{#  #}
{%- if modified_rows_table is defined -%}
### The following rows have been modified:
{{ modified_rows_table }}
{% endif %}
{#  #}
{%- if deleted_rows_table is defined -%}
### The following rows have been deleted:
{{ deleted_rows_table }}
{% endif %}
